
div:hover{
    border: 2px solid black;
}

div:nth-child(3){
    background-color: red;
}
div:nth-child(4){
    background-color: green;
}
div:nth-child(5){
    background-color: yellow;
}
div:nth-child(6){
    background-color: rgb(34, 31, 31);
    color: white;
}
div:nth-child(7){
    background-color: rgb(255, 162, 247);
}
