*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/backgroundPokemon.jpg);
}
h1{
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
}
.card{
  background-color: aliceblue;
  text-align: center;
  align-items: center;
  width: 40%;
  border-radius: 2%;
  margin: 20px auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

img {
  width: 40%;
}